In [1]:
import gspread
from gspread_dataframe import set_with_dataframe
import pandas as pd

In [2]:
# передаем секретный файл для получения доступа
gs = gspread.service_account('myapp-315506-7173c928572f.json')

# получаем файл по ключу
workbook = gs.open_by_key('1Ycg7zTxds9DZnDvTrFcyNNKuTUxg6Yy6WF0a8Wc02WQ')

# получаем значения с листов
сlients_sheet = workbook.worksheet('clients').get_all_records()
transactions_sheet = workbook.worksheet('transactions').get_all_records()
leads_sheet = workbook.worksheet('leads').get_all_records()
managers_sheet= workbook.worksheet('managers').get_all_records()

In [3]:
# создаем датафреймы из листов
сlients = pd.DataFrame(сlients_sheet)
сlients

,client_id,created_at,l_manager_id
0,0001da7d-fcda-11ea-ac18-c412f533dba1,2020-09-22 17:46:23,9a87c608-52dc-11ea-abeb-c412f533dba1
1,000a8743-9ae1-11e7-8114-c412f533dba1,2017-09-16 00:00:00,ad52c7a8-a752-11e7-8115-c412f533dba1
2,000ae57e-2d48-11ea-abeb-c412f533dba1,2020-01-02 14:08:56,43756fa4-57a0-11e9-ab9a-c412f533dba1
3,00133cde-481c-11ea-abeb-c412f533dba1,2020-02-05 17:25:13,9a87c608-52dc-11ea-abeb-c412f533dba1
4,00148d3f-07e6-11e8-812a-c412f533dba1,2018-02-02 00:00:00,abed5496-ca88-11e9-abb8-c412f533dba1
...,...,...,...
75761,ffeed40c-3a7e-11e9-ab8e-c412f533dba1,2019-02-27 00:00:00,db06b8bc-bfb2-11e7-8116-c412f533dba1
75762,fff022a5-2c34-11e8-8131-c412f533dba1,2018-03-20 00:00:00,d12fe765-b444-11e9-abb3-c412f533dba1
75763,fff88086-11bb-11ea-abe7-c412f533dba1,2019-11-28 12:48:58,bf340611-034b-11eb-ac18-c412f533dba1
75764,fff9ba6e-de05-11e9-abc1-c412f533dba1,2019-09-23 17:27:42,43756fa4-57a0-11e9-ab9a-c412f533dba1
75765,fffd756f-d49a-11e9-abbe-c412f533dba1,2019-09-11 17:48:52,31298620-0355-11eb-ac18-c412f533dba1

In [4]:
transactions = pd.DataFrame(transactions_sheet)
transactions

,transaction_id,created_at,m_real_amount,l_client_id
0,2c9f1527-8e7f-4fb1-8000-c747a2ab46c9,2020-09-30 07:15:14,31,8a805e60-6fd6-11e7-80fc-c412f533dba1
1,2c9f1527-8e7f-4fb1-8000-c747a2ab46c9,2020-09-30 07:15:14,87,8a805e60-6fd6-11e7-80fc-c412f533dba1
2,ab8cbcf7-3271-49a0-8001-6cf9816f63b8,2020-09-12 13:47:04,49231,dc0d0e52-629a-11ea-abf3-c412f533dba1
3,ab8cbcf7-3271-49a0-8001-6cf9816f63b8,2020-09-12 13:47:04,17305,dc0d0e52-629a-11ea-abf3-c412f533dba1
4,52f8ebcc-d82d-4be1-8004-72cfbe0dff24,2020-09-25 06:00:07,9022,e663b6a0-4a1a-11e8-a2c3-c412f533dba1
...,...,...,...,...
28995,39119f9c-d15b-46e6-bffa-1361257415cd,2020-07-21 21:02:34,0,b56326a0-d5a2-11e9-abbe-c412f533dba1
28996,74fa1409-2a93-4a3e-bffb-d2cd0c75f6a5,2020-01-23 03:45:41,0,1a32cb98-d5a2-11e9-abbe-c412f533dba1
28997,b5959542-894b-4eda-bffc-8ecaaed4f9e5,2020-09-03 06:45:51,0,55953b37-d5af-11e9-abbe-c412f533dba1
28998,c7cb1253-6e03-4531-bffe-81866395abce,2020-08-13 22:42:08,0,547f3c7b-d5a4-11e9-abbe-c412f533dba1
28999,c7cb1253-6e03-4531-bffe-81866395abce,2020-09-17 09:16:10,0,547f3c7b-d5a4-11e9-abbe-c412f533dba1

In [5]:
leads = pd.DataFrame(leads_sheet)
leads

,lead_id,created_at,d_utm_medium,d_utm_source,l_manager_id,l_client_id
0,00678e71-0fb9-11eb-ac1a-c412f533dba1,2020-10-16 18:08:09,sms,viber,1e9c5562-0cfc-11ea-abe1-c412f533dba1,7264cf21-a31d-11e9-abb0-c412f533dba1
1,0078b05d-0f1f-11eb-ac1a-c412f533dba1,2020-10-15 23:45:40,cpc,instagram,d12fe765-b444-11e9-abb3-c412f533dba1,606c5b29-0f88-11eb-ac1a-c412f533dba1
2,007d1401-2af3-11eb-ac1f-c412f533dba1,2020-11-20 09:41:14,cpc,instagram,43756fa4-57a0-11e9-ab9a-c412f533dba1,1f389c6a-d5ab-11e9-abbe-c412f533dba1
3,0084e614-2fcc-11eb-ac1f-c412f533dba1,2020-11-26 13:44:40,,,00000000-0000-0000-0000-000000000000,00000000-0000-0000-0000-000000000000
4,009b1616-145d-11eb-ac1d-c412f533dba1,2020-10-22 15:52:04,cpc,vk,5dd88f32-6501-11ea-abf3-c412f533dba1,ac2c0012-6fd5-11e7-80fc-c412f533dba1
...,...,...,...,...,...,...
3332,ffaa0815-16c4-11eb-ac1d-c412f533dba1,2020-10-25 17:21:33,,,5dd88f32-6501-11ea-abf3-c412f533dba1,ffaa0816-16c4-11eb-ac1d-c412f533dba1
3333,ffacb5af-194f-11eb-ac1d-c412f533dba1,2020-10-28 23:01:35,cpc,vk,ad52c7a8-a752-11e7-8115-c412f533dba1,377ea5e0-d089-11e9-abbd-c412f533dba1
3334,ffbd53f1-3150-11eb-ac1f-c412f533dba1,2020-11-28 12:09:13,cpc,google,5dd88f32-6501-11ea-abf3-c412f533dba1,6dd39f15-d5a3-11e9-abbe-c412f533dba1
3335,ffc0b363-2ae9-11eb-ac1f-c412f533dba1,2020-11-20 08:36:48,cpc,instagram,ad52c7a8-a752-11e7-8115-c412f533dba1,00000000-0000-0000-0000-000000000000
3336,ffcdebc8-15c2-11eb-ac1d-c412f533dba1,2020-10-24 10:34:43,utm_medium,utm_source,ad52c7a8-a752-11e7-8115-c412f533dba1,f3357d13-15c7-11eb-ac1d-c412f533dba1

In [6]:
managers = pd.DataFrame(managers_sheet)
managers

                              manager_id    d_manager   d_club
0   1e9c5562-0cfc-11ea-abe1-c412f533dba1   manager #8  club #2
1   43756fa4-57a0-11e9-ab9a-c412f533dba1  manager #11  club #4
2   543888c4-fbb3-11e9-abdc-c412f533dba1  manager #12  club #3
3   5dd88f32-6501-11ea-abf3-c412f533dba1  manager #10  club #2
4   9a87c608-52dc-11ea-abeb-c412f533dba1   manager #9  club #3
5   abed5496-ca88-11e9-abb8-c412f533dba1   manager #5  club #4
6   ad52c7a8-a752-11e7-8115-c412f533dba1   manager #7  club #1
7   b55a233c-5df6-11ea-abf2-c412f533dba1   manager #2  club #4
8   b832aac3-fcda-11ea-ac18-c412f533dba1  manager #13  club #3
9   d12fe765-b444-11e9-abb3-c412f533dba1   manager #1  club #1
10  db06b8bc-bfb2-11e7-8116-c412f533dba1   manager #4  club #2
11  e463b03f-2d74-11eb-ac1f-c412f533dba1   manager #3  club #1
12  f44596c6-12cd-11eb-ac1c-c412f533dba1   manager #6  club #2

In [7]:
# Также можно подключиться к API Google Sheet таким образом: второй вариант

# import httplib2 
# import apiclient.discovery
# from oauth2client.service_account import ServiceAccountCredentials
# import pandas as pd


# # подключение к API 
# CREDENTIALS_FILE = 'myapp-315506-7173c928572f.json' 
# spreadsheet_id = '1Ycg7zTxds9DZnDvTrFcyNNKuTUxg6Yy6WF0a8Wc02WQ'

# credentials = ServiceAccountCredentials.from_json_keyfile_name(CREDENTIALS_FILE, ['https://www.googleapis.com/auth/spreadsheets', 
#                                                                                   'https://www.googleapis.com/auth/drive'])

# httpAuth = credentials.authorize(httplib2.Http()) 
# service = apiclient.discovery.build('sheets', 'v4', http = httpAuth) 


# # чтение файла 
# сlients_sheet = service.spreadsheets().values().get(
#     spreadsheetId=spreadsheet_id,
#     range='clients',
#     majorDimension='ROWS'
# ).execute()

# transactions_sheet = service.spreadsheets().values().get(
#     spreadsheetId=spreadsheet_id,
#     range='transactions',
#     majorDimension='ROWS'
# ).execute()

# leads_sheet = service.spreadsheets().values().get(
#     spreadsheetId=spreadsheet_id,
#     range='leads',
#     majorDimension='ROWS'
# ).execute()

# managers_sheet = service.spreadsheets().values().get(
#     spreadsheetId=spreadsheet_id,
#     range='managers',
#     majorDimension='ROWS'
# ).execute()

# # создаем датафреймы из листов
# сlients = pd.DataFrame(сlients_sheet.get('values',[]))
# transactions = pd.DataFrame(transactions_sheet.get('values',[]))
# leads = pd.DataFrame(leads_sheet.get('values',[]))
# managers = pd.DataFrame(managers_sheet.get('values',[]))


# # поднимаем заголовки
# сlients.columns = сlients.iloc[0]
# сlients  = сlients[1:] 

# transactions.columns = transactions.iloc[0]
# transactions  = transactions[1:] 

# leads.columns = leads.iloc[0]
# leads  = leads[1:] 

# managers.columns = managers.iloc[0]
# managers  = managers[1:]

In [8]:
# очищаем фрейм от нулевых и отрицательных транзакций
transactions = transactions[transactions['m_real_amount'] > 0]

In [9]:
# создаем основной фрейм данных
merge_leads = leads.merge(managers,left_on = 'l_manager_id' , right_on='manager_id', how = 'left')
merge_leads

,lead_id,created_at,d_utm_medium,d_utm_source,l_manager_id,l_client_id,manager_id,d_manager,d_club
0,00678e71-0fb9-11eb-ac1a-c412f533dba1,2020-10-16 18:08:09,sms,viber,1e9c5562-0cfc-11ea-abe1-c412f533dba1,7264cf21-a31d-11e9-abb0-c412f533dba1,1e9c5562-0cfc-11ea-abe1-c412f533dba1,manager #8,club #2
1,0078b05d-0f1f-11eb-ac1a-c412f533dba1,2020-10-15 23:45:40,cpc,instagram,d12fe765-b444-11e9-abb3-c412f533dba1,606c5b29-0f88-11eb-ac1a-c412f533dba1,d12fe765-b444-11e9-abb3-c412f533dba1,manager #1,club #1
2,007d1401-2af3-11eb-ac1f-c412f533dba1,2020-11-20 09:41:14,cpc,instagram,43756fa4-57a0-11e9-ab9a-c412f533dba1,1f389c6a-d5ab-11e9-abbe-c412f533dba1,43756fa4-57a0-11e9-ab9a-c412f533dba1,manager #11,club #4
3,0084e614-2fcc-11eb-ac1f-c412f533dba1,2020-11-26 13:44:40,,,00000000-0000-0000-0000-000000000000,00000000-0000-0000-0000-000000000000,NaN,NaN,NaN
4,009b1616-145d-11eb-ac1d-c412f533dba1,2020-10-22 15:52:04,cpc,vk,5dd88f32-6501-11ea-abf3-c412f533dba1,ac2c0012-6fd5-11e7-80fc-c412f533dba1,5dd88f32-6501-11ea-abf3-c412f533dba1,manager #10,club #2
...,...,...,...,...,...,...,...,...,...
3332,ffaa0815-16c4-11eb-ac1d-c412f533dba1,2020-10-25 17:21:33,,,5dd88f32-6501-11ea-abf3-c412f533dba1,ffaa0816-16c4-11eb-ac1d-c412f533dba1,5dd88f32-6501-11ea-abf3-c412f533dba1,manager #10,club #2
3333,ffacb5af-194f-11eb-ac1d-c412f533dba1,2020-10-28 23:01:35,cpc,vk,ad52c7a8-a752-11e7-8115-c412f533dba1,377ea5e0-d089-11e9-abbd-c412f533dba1,ad52c7a8-a752-11e7-8115-c412f533dba1,manager #7,club #1
3334,ffbd53f1-3150-11eb-ac1f-c412f533dba1,2020-11-28 12:09:13,cpc,google,5dd88f32-6501-11ea-abf3-c412f533dba1,6dd39f15-d5a3-11e9-abbe-c412f533dba1,5dd88f32-6501-11ea-abf3-c412f533dba1,manager #10,club #2
3335,ffc0b363-2ae9-11eb-ac1f-c412f533dba1,2020-11-20 08:36:48,cpc,instagram,ad52c7a8-a752-11e7-8115-c412f533dba1,00000000-0000-0000-0000-000000000000,ad52c7a8-a752-11e7-8115-c412f533dba1,manager #7,club #1
3336,ffcdebc8-15c2-11eb-ac1d-c412f533dba1,2020-10-24 10:34:43,utm_medium,utm_source,ad52c7a8-a752-11e7-8115-c412f533dba1,f3357d13-15c7-11eb-ac1d-c412f533dba1,ad52c7a8-a752-11e7-8115-c412f533dba1,manager #7,club #1

# Количество заявок

In [10]:
merge_leads['leads_count'] = merge_leads \
    .groupby(['d_utm_source','d_manager','d_club','created_at'])['lead_id'] \
    .transform('count')
merge_leads

,lead_id,created_at,d_utm_medium,d_utm_source,l_manager_id,l_client_id,manager_id,d_manager,d_club,leads_count
0,00678e71-0fb9-11eb-ac1a-c412f533dba1,2020-10-16 18:08:09,sms,viber,1e9c5562-0cfc-11ea-abe1-c412f533dba1,7264cf21-a31d-11e9-abb0-c412f533dba1,1e9c5562-0cfc-11ea-abe1-c412f533dba1,manager #8,club #2,1.0
1,0078b05d-0f1f-11eb-ac1a-c412f533dba1,2020-10-15 23:45:40,cpc,instagram,d12fe765-b444-11e9-abb3-c412f533dba1,606c5b29-0f88-11eb-ac1a-c412f533dba1,d12fe765-b444-11e9-abb3-c412f533dba1,manager #1,club #1,1.0
2,007d1401-2af3-11eb-ac1f-c412f533dba1,2020-11-20 09:41:14,cpc,instagram,43756fa4-57a0-11e9-ab9a-c412f533dba1,1f389c6a-d5ab-11e9-abbe-c412f533dba1,43756fa4-57a0-11e9-ab9a-c412f533dba1,manager #11,club #4,1.0
3,0084e614-2fcc-11eb-ac1f-c412f533dba1,2020-11-26 13:44:40,,,00000000-0000-0000-0000-000000000000,00000000-0000-0000-0000-000000000000,NaN,NaN,NaN,NaN
4,009b1616-145d-11eb-ac1d-c412f533dba1,2020-10-22 15:52:04,cpc,vk,5dd88f32-6501-11ea-abf3-c412f533dba1,ac2c0012-6fd5-11e7-80fc-c412f533dba1,5dd88f32-6501-11ea-abf3-c412f533dba1,manager #10,club #2,1.0
...,...,...,...,...,...,...,...,...,...,...
3332,ffaa0815-16c4-11eb-ac1d-c412f533dba1,2020-10-25 17:21:33,,,5dd88f32-6501-11ea-abf3-c412f533dba1,ffaa0816-16c4-11eb-ac1d-c412f533dba1,5dd88f32-6501-11ea-abf3-c412f533dba1,manager #10,club #2,1.0
3333,ffacb5af-194f-11eb-ac1d-c412f533dba1,2020-10-28 23:01:35,cpc,vk,ad52c7a8-a752-11e7-8115-c412f533dba1,377ea5e0-d089-11e9-abbd-c412f533dba1,ad52c7a8-a752-11e7-8115-c412f533dba1,manager #7,club #1,1.0
3334,ffbd53f1-3150-11eb-ac1f-c412f533dba1,2020-11-28 12:09:13,cpc,google,5dd88f32-6501-11ea-abf3-c412f533dba1,6dd39f15-d5a3-11e9-abbe-c412f533dba1,5dd88f32-6501-11ea-abf3-c412f533dba1,manager #10,club #2,1.0
3335,ffc0b363-2ae9-11eb-ac1f-c412f533dba1,2020-11-20 08:36:48,cpc,instagram,ad52c7a8-a752-11e7-8115-c412f533dba1,00000000-0000-0000-0000-000000000000,ad52c7a8-a752-11e7-8115-c412f533dba1,manager #7,club #1,1.0
3336,ffcdebc8-15c2-11eb-ac1d-c412f533dba1,2020-10-24 10:34:43,utm_medium,utm_source,ad52c7a8-a752-11e7-8115-c412f533dba1,f3357d13-15c7-11eb-ac1d-c412f533dba1,ad52c7a8-a752-11e7-8115-c412f533dba1,manager #7,club #1,1.0

# Количество мусорных заявок (на основании заявки не создан клиент)

In [11]:
# получаем количество мусорных заявок
trash_leads_count = merge_leads[merge_leads['l_client_id'] == '00000000-0000-0000-0000-000000000000'] \
    .groupby(['d_utm_source','d_manager','d_club','created_at'], as_index = False)['lead_id'] \
    .count() \
    .rename(columns  = {'lead_id':'trash_leads_count'})

trash_leads_count

    d_utm_source   d_manager   d_club           created_at  trash_leads_count
0                 manager #1  club #1  2020-10-01 14:22:59                  1
1                 manager #1  club #1  2020-10-08 19:06:30                  1
2                 manager #1  club #1  2020-10-08 21:39:03                  1
3                 manager #1  club #1  2020-10-16 12:41:57                  1
4                 manager #1  club #1  2020-10-19 00:00:28                  1
..           ...         ...      ...                  ...                ...
335       yandex  manager #7  club #1  2020-11-11 17:54:09                  1
336       yandex  manager #7  club #1  2020-11-20 13:09:38                  1
337       yandex  manager #7  club #1  2020-11-22 20:27:01                  1
338       yandex  manager #9  club #3  2020-10-10 14:08:50                  1
339        ycard  manager #2  club #4  2020-11-20 15:25:47                  1

[340 rows x 5 columns]

In [12]:
# подтягиваем к основному фрейму
merge_leads = pd.merge(merge_leads, trash_leads_count, on = ['d_utm_source','d_manager','d_club','created_at'], how = 'left')
merge_leads

,lead_id,created_at,d_utm_medium,d_utm_source,l_manager_id,l_client_id,manager_id,d_manager,d_club,leads_count,trash_leads_count
0,00678e71-0fb9-11eb-ac1a-c412f533dba1,2020-10-16 18:08:09,sms,viber,1e9c5562-0cfc-11ea-abe1-c412f533dba1,7264cf21-a31d-11e9-abb0-c412f533dba1,1e9c5562-0cfc-11ea-abe1-c412f533dba1,manager #8,club #2,1.0,NaN
1,0078b05d-0f1f-11eb-ac1a-c412f533dba1,2020-10-15 23:45:40,cpc,instagram,d12fe765-b444-11e9-abb3-c412f533dba1,606c5b29-0f88-11eb-ac1a-c412f533dba1,d12fe765-b444-11e9-abb3-c412f533dba1,manager #1,club #1,1.0,NaN
2,007d1401-2af3-11eb-ac1f-c412f533dba1,2020-11-20 09:41:14,cpc,instagram,43756fa4-57a0-11e9-ab9a-c412f533dba1,1f389c6a-d5ab-11e9-abbe-c412f533dba1,43756fa4-57a0-11e9-ab9a-c412f533dba1,manager #11,club #4,1.0,NaN
3,0084e614-2fcc-11eb-ac1f-c412f533dba1,2020-11-26 13:44:40,,,00000000-0000-0000-0000-000000000000,00000000-0000-0000-0000-000000000000,NaN,NaN,NaN,NaN,NaN
4,009b1616-145d-11eb-ac1d-c412f533dba1,2020-10-22 15:52:04,cpc,vk,5dd88f32-6501-11ea-abf3-c412f533dba1,ac2c0012-6fd5-11e7-80fc-c412f533dba1,5dd88f32-6501-11ea-abf3-c412f533dba1,manager #10,club #2,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
3332,ffaa0815-16c4-11eb-ac1d-c412f533dba1,2020-10-25 17:21:33,,,5dd88f32-6501-11ea-abf3-c412f533dba1,ffaa0816-16c4-11eb-ac1d-c412f533dba1,5dd88f32-6501-11ea-abf3-c412f533dba1,manager #10,club #2,1.0,NaN
3333,ffacb5af-194f-11eb-ac1d-c412f533dba1,2020-10-28 23:01:35,cpc,vk,ad52c7a8-a752-11e7-8115-c412f533dba1,377ea5e0-d089-11e9-abbd-c412f533dba1,ad52c7a8-a752-11e7-8115-c412f533dba1,manager #7,club #1,1.0,NaN
3334,ffbd53f1-3150-11eb-ac1f-c412f533dba1,2020-11-28 12:09:13,cpc,google,5dd88f32-6501-11ea-abf3-c412f533dba1,6dd39f15-d5a3-11e9-abbe-c412f533dba1,5dd88f32-6501-11ea-abf3-c412f533dba1,manager #10,club #2,1.0,NaN
3335,ffc0b363-2ae9-11eb-ac1f-c412f533dba1,2020-11-20 08:36:48,cpc,instagram,ad52c7a8-a752-11e7-8115-c412f533dba1,00000000-0000-0000-0000-000000000000,ad52c7a8-a752-11e7-8115-c412f533dba1,manager #7,club #1,1.0,1.0
3336,ffcdebc8-15c2-11eb-ac1d-c412f533dba1,2020-10-24 10:34:43,utm_medium,utm_source,ad52c7a8-a752-11e7-8115-c412f533dba1,f3357d13-15c7-11eb-ac1d-c412f533dba1,ad52c7a8-a752-11e7-8115-c412f533dba1,manager #7,club #1,1.0,NaN

# Количество новых заявок (не было заявок и покупок от этого клиента раньше)

In [13]:
# клиенты, которые не имели заявок раньше
first_clients = merge_leads \
    .groupby('l_client_id',as_index = False)['lead_id'] \
    .count() \
    .query('lead_id == 1')['l_client_id'] \
    .unique()
    
# клиенты, имеющие покупки
clients_with_transactions = transactions['l_client_id'].unique()

In [14]:
# получаем количество новых заявок
new_leads_count = merge_leads \
    .query('l_client_id not in @clients_with_transactions and l_client_id  in @first_clients') \
    .groupby(['d_utm_source','d_manager','d_club','created_at'],as_index = False )['lead_id'] \
    .count() \
    .rename(columns = {'lead_id':'new_leads_count'})

new_leads_count

,d_utm_source,d_manager,d_club,created_at,new_leads_count
0,,manager #1,club #1,2020-10-03 15:39:01,1
1,,manager #1,club #1,2020-10-04 12:23:23,1
2,,manager #1,club #1,2020-10-07 17:15:24,1
3,,manager #1,club #1,2020-10-08 19:00:46,1
4,,manager #1,club #1,2020-10-16 16:10:22,1
...,...,...,...,...,...
1141,ycard,manager #7,club #1,2020-11-10 20:35:33,1
1142,ycard,manager #7,club #1,2020-11-21 14:22:24,1
1143,ycard,manager #8,club #2,2020-11-11 15:45:50,1
1144,ycard,manager #8,club #2,2020-11-23 14:39:46,1
1145,ycard#!/tproduct/225696739-1498486363994,manager #1,club #1,2020-11-22 23:08:23,1

In [15]:
# подтягиваем к основному фрейму
merge_leads = pd.merge(merge_leads, new_leads_count, on = ['d_utm_source','d_manager','d_club','created_at'], how = 'left')
merge_leads

,lead_id,created_at,d_utm_medium,d_utm_source,l_manager_id,l_client_id,manager_id,d_manager,d_club,leads_count,trash_leads_count,new_leads_count
0,00678e71-0fb9-11eb-ac1a-c412f533dba1,2020-10-16 18:08:09,sms,viber,1e9c5562-0cfc-11ea-abe1-c412f533dba1,7264cf21-a31d-11e9-abb0-c412f533dba1,1e9c5562-0cfc-11ea-abe1-c412f533dba1,manager #8,club #2,1.0,NaN,NaN
1,0078b05d-0f1f-11eb-ac1a-c412f533dba1,2020-10-15 23:45:40,cpc,instagram,d12fe765-b444-11e9-abb3-c412f533dba1,606c5b29-0f88-11eb-ac1a-c412f533dba1,d12fe765-b444-11e9-abb3-c412f533dba1,manager #1,club #1,1.0,NaN,1.0
2,007d1401-2af3-11eb-ac1f-c412f533dba1,2020-11-20 09:41:14,cpc,instagram,43756fa4-57a0-11e9-ab9a-c412f533dba1,1f389c6a-d5ab-11e9-abbe-c412f533dba1,43756fa4-57a0-11e9-ab9a-c412f533dba1,manager #11,club #4,1.0,NaN,1.0
3,0084e614-2fcc-11eb-ac1f-c412f533dba1,2020-11-26 13:44:40,,,00000000-0000-0000-0000-000000000000,00000000-0000-0000-0000-000000000000,NaN,NaN,NaN,NaN,NaN,NaN
4,009b1616-145d-11eb-ac1d-c412f533dba1,2020-10-22 15:52:04,cpc,vk,5dd88f32-6501-11ea-abf3-c412f533dba1,ac2c0012-6fd5-11e7-80fc-c412f533dba1,5dd88f32-6501-11ea-abf3-c412f533dba1,manager #10,club #2,1.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
3332,ffaa0815-16c4-11eb-ac1d-c412f533dba1,2020-10-25 17:21:33,,,5dd88f32-6501-11ea-abf3-c412f533dba1,ffaa0816-16c4-11eb-ac1d-c412f533dba1,5dd88f32-6501-11ea-abf3-c412f533dba1,manager #10,club #2,1.0,NaN,1.0
3333,ffacb5af-194f-11eb-ac1d-c412f533dba1,2020-10-28 23:01:35,cpc,vk,ad52c7a8-a752-11e7-8115-c412f533dba1,377ea5e0-d089-11e9-abbd-c412f533dba1,ad52c7a8-a752-11e7-8115-c412f533dba1,manager #7,club #1,1.0,NaN,1.0
3334,ffbd53f1-3150-11eb-ac1f-c412f533dba1,2020-11-28 12:09:13,cpc,google,5dd88f32-6501-11ea-abf3-c412f533dba1,6dd39f15-d5a3-11e9-abbe-c412f533dba1,5dd88f32-6501-11ea-abf3-c412f533dba1,manager #10,club #2,1.0,NaN,1.0
3335,ffc0b363-2ae9-11eb-ac1f-c412f533dba1,2020-11-20 08:36:48,cpc,instagram,ad52c7a8-a752-11e7-8115-c412f533dba1,00000000-0000-0000-0000-000000000000,ad52c7a8-a752-11e7-8115-c412f533dba1,manager #7,club #1,1.0,1.0,NaN
3336,ffcdebc8-15c2-11eb-ac1d-c412f533dba1,2020-10-24 10:34:43,utm_medium,utm_source,ad52c7a8-a752-11e7-8115-c412f533dba1,f3357d13-15c7-11eb-ac1d-c412f533dba1,ad52c7a8-a752-11e7-8115-c412f533dba1,manager #7,club #1,1.0,NaN,NaN

# Количество покупателей (кто купил в течение недели после заявки)

In [16]:
# подтягиваем к покупам данные о датах создания заявок
merge_clients = pd.merge(transactions, merge_leads[['lead_id',
                                                    'created_at',
                                                    'l_client_id',
                                                    'd_utm_source',
                                                    'd_manager',
                                                    'd_club']], on = 'l_client_id') \
    .rename(columns = {'created_at_x':'transactions_created_at',
                       'created_at_y':'created_at'})
merge_clients

,transaction_id,transactions_created_at,m_real_amount,l_client_id,lead_id,created_at,d_utm_source,d_manager,d_club
0,f904046c-73d7-43fa-8006-beadc89ecf2f,2020-11-23 13:22:39,16005,cea2f440-2d85-11eb-ac1f-c412f533dba1,cea2f43f-2d85-11eb-ac1f-c412f533dba1,2020-11-23 16:17:09,,manager #8,club #2
1,d2e4989c-dd2a-4230-800d-8066d9ffb126,2020-11-14 13:26:08,48412,a9259f72-d5a5-11e9-abbe-c412f533dba1,020a526c-258c-11eb-ac1d-c412f533dba1,2020-11-13 12:41:23,utm_source,manager #11,club #4
2,ef894648-ad3e-4701-801f-e8403dd6177b,2020-10-20 16:29:17,56094,dc018616-1085-11eb-ac1a-c412f533dba1,38e0730d-1080-11eb-ac1a-c412f533dba1,2020-10-17 17:54:07,yandex,manager #9,club #3
3,ef894648-ad3e-4701-801f-e8403dd6177b,2020-10-20 16:29:17,56094,dc018616-1085-11eb-ac1a-c412f533dba1,7584a93f-1081-11eb-ac1a-c412f533dba1,2020-10-17 18:02:58,vk,manager #5,club #4
4,ef894648-ad3e-4701-801f-e8403dd6177b,2020-10-20 16:29:17,56094,dc018616-1085-11eb-ac1a-c412f533dba1,d5102838-1081-11eb-ac1a-c412f533dba1,2020-10-17 18:05:38,vk,manager #5,club #4
...,...,...,...,...,...,...,...,...,...
1856,1de29d90-b02a-4484-bf2c-bede4261892f,2020-11-13 06:36:50,38769,da6e6292-1a83-11eb-ac1d-c412f533dba1,51e77104-1a40-11eb-ac1d-c412f533dba1,2020-10-30 03:41:52,utm_source,manager #1,club #1
1857,d9775cd0-0fdd-48e2-bf40-036551f4f5a7,2020-11-26 15:56:23,52372,92b95e5d-2ff6-11eb-ac1f-c412f533dba1,92b95e5c-2ff6-11eb-ac1f-c412f533dba1,2020-11-26 18:49:24,,manager #4,club #2
1858,1c554296-428f-4160-bfa2-f14198a49db4,2020-01-13 11:26:59,171,d12db57a-35ee-11ea-abeb-c412f533dba1,4f6898fc-094a-11eb-ac1a-c412f533dba1,2020-10-08 13:40:33,viber,manager #1,club #1
1859,8988b78b-b820-4d98-bfe8-d78502fa4f71,2020-10-30 10:31:05,2133,88f7896d-1a92-11eb-ac1d-c412f533dba1,88f7896c-1a92-11eb-ac1d-c412f533dba1,2020-10-30 13:30:24,,NaN,NaN
1860,4792b077-3749-409d-bffb-e7471dacd837,2020-11-06 13:32:35,2866,8d061da3-1e70-11eb-ac1d-c412f533dba1,0af56795-1e0d-11eb-ac1d-c412f533dba1,2020-11-03 23:44:54,instagram,manager #1,club #1

In [17]:
from datetime import  timedelta

In [18]:
# клиенты, которые купили в течение недели после заявки
clients_weekly_purchase = merge_clients[merge_clients['transactions_created_at'] \
                                .between(merge_clients['created_at'].astype('datetime64[ns]'),
                                         merge_clients['created_at'].astype('datetime64[ns]') + timedelta(weeks=1))]

In [19]:
# получаем количество покупателей
clients_count = clients_weekly_purchase \
    .groupby(['d_utm_source','d_manager','d_club','created_at'], as_index = False)['l_client_id'] \
    .count() \
    .rename(columns = {'l_client_id':'clients_count'})

clients_count

    d_utm_source   d_manager   d_club           created_at  clients_count
0                 manager #1  club #1  2020-10-06 20:23:10              1
1                 manager #1  club #1  2020-10-16 00:09:09              2
2                 manager #1  club #1  2020-10-21 15:54:14              1
3                 manager #1  club #1  2020-10-21 16:42:31              1
4                 manager #1  club #1  2020-10-28 18:28:14              3
..           ...         ...      ...                  ...            ...
445       yandex  manager #9  club #3  2020-10-17 17:54:07              1
446       yandex  manager #9  club #3  2020-10-22 15:08:43              1
447        ycard  manager #4  club #2  2020-11-02 13:48:45              1
448        ycard  manager #7  club #1  2020-11-16 19:18:50              1
449        ycard  manager #8  club #2  2020-11-17 13:36:16              1

[450 rows x 5 columns]

In [20]:
# подтягиваем к основному фрейму
merge_leads = pd.merge(merge_leads, clients_count, on = ['d_utm_source','d_manager','d_club','created_at'], how = 'left')
merge_leads

,lead_id,created_at,d_utm_medium,d_utm_source,l_manager_id,l_client_id,manager_id,d_manager,d_club,leads_count,trash_leads_count,new_leads_count,clients_count
0,00678e71-0fb9-11eb-ac1a-c412f533dba1,2020-10-16 18:08:09,sms,viber,1e9c5562-0cfc-11ea-abe1-c412f533dba1,7264cf21-a31d-11e9-abb0-c412f533dba1,1e9c5562-0cfc-11ea-abe1-c412f533dba1,manager #8,club #2,1.0,NaN,NaN,1.0
1,0078b05d-0f1f-11eb-ac1a-c412f533dba1,2020-10-15 23:45:40,cpc,instagram,d12fe765-b444-11e9-abb3-c412f533dba1,606c5b29-0f88-11eb-ac1a-c412f533dba1,d12fe765-b444-11e9-abb3-c412f533dba1,manager #1,club #1,1.0,NaN,1.0,NaN
2,007d1401-2af3-11eb-ac1f-c412f533dba1,2020-11-20 09:41:14,cpc,instagram,43756fa4-57a0-11e9-ab9a-c412f533dba1,1f389c6a-d5ab-11e9-abbe-c412f533dba1,43756fa4-57a0-11e9-ab9a-c412f533dba1,manager #11,club #4,1.0,NaN,1.0,NaN
3,0084e614-2fcc-11eb-ac1f-c412f533dba1,2020-11-26 13:44:40,,,00000000-0000-0000-0000-000000000000,00000000-0000-0000-0000-000000000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,009b1616-145d-11eb-ac1d-c412f533dba1,2020-10-22 15:52:04,cpc,vk,5dd88f32-6501-11ea-abf3-c412f533dba1,ac2c0012-6fd5-11e7-80fc-c412f533dba1,5dd88f32-6501-11ea-abf3-c412f533dba1,manager #10,club #2,1.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3332,ffaa0815-16c4-11eb-ac1d-c412f533dba1,2020-10-25 17:21:33,,,5dd88f32-6501-11ea-abf3-c412f533dba1,ffaa0816-16c4-11eb-ac1d-c412f533dba1,5dd88f32-6501-11ea-abf3-c412f533dba1,manager #10,club #2,1.0,NaN,1.0,NaN
3333,ffacb5af-194f-11eb-ac1d-c412f533dba1,2020-10-28 23:01:35,cpc,vk,ad52c7a8-a752-11e7-8115-c412f533dba1,377ea5e0-d089-11e9-abbd-c412f533dba1,ad52c7a8-a752-11e7-8115-c412f533dba1,manager #7,club #1,1.0,NaN,1.0,NaN
3334,ffbd53f1-3150-11eb-ac1f-c412f533dba1,2020-11-28 12:09:13,cpc,google,5dd88f32-6501-11ea-abf3-c412f533dba1,6dd39f15-d5a3-11e9-abbe-c412f533dba1,5dd88f32-6501-11ea-abf3-c412f533dba1,manager #10,club #2,1.0,NaN,1.0,NaN
3335,ffc0b363-2ae9-11eb-ac1f-c412f533dba1,2020-11-20 08:36:48,cpc,instagram,ad52c7a8-a752-11e7-8115-c412f533dba1,00000000-0000-0000-0000-000000000000,ad52c7a8-a752-11e7-8115-c412f533dba1,manager #7,club #1,1.0,1.0,NaN,NaN
3336,ffcdebc8-15c2-11eb-ac1d-c412f533dba1,2020-10-24 10:34:43,utm_medium,utm_source,ad52c7a8-a752-11e7-8115-c412f533dba1,f3357d13-15c7-11eb-ac1d-c412f533dba1,ad52c7a8-a752-11e7-8115-c412f533dba1,manager #7,club #1,1.0,NaN,NaN,NaN

# Количество новых покупателей (кто купил в течение недели после заявки, и не покупал раньше)

In [21]:
# список клиентов, у которых имеется только одна покупка, то есть не было покупок ранее
first_clients_purchase = transactions \
    .groupby('l_client_id',as_index = False)['transaction_id'] \
    .count() \
    .query('transaction_id == 1')['l_client_id'].unique()
first_clients_purchase

array(['00133cde-481c-11ea-abeb-c412f533dba1',
       '001f2b64-fc5a-11e8-ab84-c412f533dba1',
       '003f236a-fffe-11ea-ac18-c412f533dba1', ...,
       'ffcd0943-6fd8-11e7-80fc-c412f533dba1',
       'ffcd097e-6fd8-11e7-80fc-c412f533dba1',
       'ffe3d29d-2c48-11e8-8131-c412f533dba1'], dtype=object)

In [22]:
# получаем количество новых клиентов
new_clients_count = clients_weekly_purchase \
    .query('l_client_id in @first_clients_purchase') \
    .groupby(['d_utm_source','d_manager','d_club','created_at'], as_index = False)['l_client_id'] \
    .count() \
    .rename(columns = {'l_client_id':'new_clients_count'})
new_clients_count

    d_utm_source    d_manager   d_club           created_at  new_clients_count
0                  manager #1  club #1  2020-10-06 20:23:10                  1
1                 manager #10  club #2  2020-11-07 12:55:52                  1
2                 manager #10  club #2  2020-11-16 15:07:46                  1
3                 manager #10  club #2  2020-11-21 10:31:59                  1
4                 manager #11  club #4  2020-11-19 09:38:23                  1
..           ...          ...      ...                  ...                ...
273       yandex   manager #8  club #2  2020-10-27 12:33:59                  1
274       yandex   manager #9  club #3  2020-10-17 17:54:07                  1
275        ycard   manager #4  club #2  2020-11-02 13:48:45                  1
276        ycard   manager #7  club #1  2020-11-16 19:18:50                  1
277        ycard   manager #8  club #2  2020-11-17 13:36:16                  1

[278 rows x 5 columns]

In [23]:
# подтягиваем к основному фрейму
merge_leads = pd.merge(merge_leads, new_clients_count, on = ['d_utm_source','d_manager','d_club','created_at'], how = 'left')
merge_leads

,lead_id,created_at,d_utm_medium,d_utm_source,l_manager_id,l_client_id,manager_id,d_manager,d_club,leads_count,trash_leads_count,new_leads_count,clients_count,new_clients_count
0,00678e71-0fb9-11eb-ac1a-c412f533dba1,2020-10-16 18:08:09,sms,viber,1e9c5562-0cfc-11ea-abe1-c412f533dba1,7264cf21-a31d-11e9-abb0-c412f533dba1,1e9c5562-0cfc-11ea-abe1-c412f533dba1,manager #8,club #2,1.0,NaN,NaN,1.0,NaN
1,0078b05d-0f1f-11eb-ac1a-c412f533dba1,2020-10-15 23:45:40,cpc,instagram,d12fe765-b444-11e9-abb3-c412f533dba1,606c5b29-0f88-11eb-ac1a-c412f533dba1,d12fe765-b444-11e9-abb3-c412f533dba1,manager #1,club #1,1.0,NaN,1.0,NaN,NaN
2,007d1401-2af3-11eb-ac1f-c412f533dba1,2020-11-20 09:41:14,cpc,instagram,43756fa4-57a0-11e9-ab9a-c412f533dba1,1f389c6a-d5ab-11e9-abbe-c412f533dba1,43756fa4-57a0-11e9-ab9a-c412f533dba1,manager #11,club #4,1.0,NaN,1.0,NaN,NaN
3,0084e614-2fcc-11eb-ac1f-c412f533dba1,2020-11-26 13:44:40,,,00000000-0000-0000-0000-000000000000,00000000-0000-0000-0000-000000000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,009b1616-145d-11eb-ac1d-c412f533dba1,2020-10-22 15:52:04,cpc,vk,5dd88f32-6501-11ea-abf3-c412f533dba1,ac2c0012-6fd5-11e7-80fc-c412f533dba1,5dd88f32-6501-11ea-abf3-c412f533dba1,manager #10,club #2,1.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3332,ffaa0815-16c4-11eb-ac1d-c412f533dba1,2020-10-25 17:21:33,,,5dd88f32-6501-11ea-abf3-c412f533dba1,ffaa0816-16c4-11eb-ac1d-c412f533dba1,5dd88f32-6501-11ea-abf3-c412f533dba1,manager #10,club #2,1.0,NaN,1.0,NaN,NaN
3333,ffacb5af-194f-11eb-ac1d-c412f533dba1,2020-10-28 23:01:35,cpc,vk,ad52c7a8-a752-11e7-8115-c412f533dba1,377ea5e0-d089-11e9-abbd-c412f533dba1,ad52c7a8-a752-11e7-8115-c412f533dba1,manager #7,club #1,1.0,NaN,1.0,NaN,NaN
3334,ffbd53f1-3150-11eb-ac1f-c412f533dba1,2020-11-28 12:09:13,cpc,google,5dd88f32-6501-11ea-abf3-c412f533dba1,6dd39f15-d5a3-11e9-abbe-c412f533dba1,5dd88f32-6501-11ea-abf3-c412f533dba1,manager #10,club #2,1.0,NaN,1.0,NaN,NaN
3335,ffc0b363-2ae9-11eb-ac1f-c412f533dba1,2020-11-20 08:36:48,cpc,instagram,ad52c7a8-a752-11e7-8115-c412f533dba1,00000000-0000-0000-0000-000000000000,ad52c7a8-a752-11e7-8115-c412f533dba1,manager #7,club #1,1.0,1.0,NaN,NaN,NaN
3336,ffcdebc8-15c2-11eb-ac1d-c412f533dba1,2020-10-24 10:34:43,utm_medium,utm_source,ad52c7a8-a752-11e7-8115-c412f533dba1,f3357d13-15c7-11eb-ac1d-c412f533dba1,ad52c7a8-a752-11e7-8115-c412f533dba1,manager #7,club #1,1.0,NaN,NaN,NaN,NaN

# Доход от покупок новых покупателей

In [24]:
# получаем доход от  новых клиентов
new_clients_income = clients_weekly_purchase \
    .query('l_client_id in @first_clients_purchase') \
    .groupby(['d_utm_source','d_manager','d_club','created_at'], as_index = False)['m_real_amount'] \
    .sum() \
    .rename(columns = {'m_real_amount':'new_clients_income'})
new_clients_income

,d_utm_source,d_manager,d_club,created_at,new_clients_income
0,,manager #1,club #1,2020-10-06 20:23:10,3822
1,,manager #10,club #2,2020-11-07 12:55:52,549
2,,manager #10,club #2,2020-11-16 15:07:46,44108
3,,manager #10,club #2,2020-11-21 10:31:59,912
4,,manager #11,club #4,2020-11-19 09:38:23,51793
...,...,...,...,...,...
273,yandex,manager #8,club #2,2020-10-27 12:33:59,45502
274,yandex,manager #9,club #3,2020-10-17 17:54:07,56094
275,ycard,manager #4,club #2,2020-11-02 13:48:45,3670
276,ycard,manager #7,club #1,2020-11-16 19:18:50,22628
277,ycard,manager #8,club #2,2020-11-17 13:36:16,79395

In [25]:
# подтягиваем к основному фрейму
merge_leads = pd.merge(merge_leads, new_clients_income, on = ['d_utm_source','d_manager','d_club','created_at'], how = 'left')
merge_leads

,lead_id,created_at,d_utm_medium,d_utm_source,l_manager_id,l_client_id,manager_id,d_manager,d_club,leads_count,trash_leads_count,new_leads_count,clients_count,new_clients_count,new_clients_income
0,00678e71-0fb9-11eb-ac1a-c412f533dba1,2020-10-16 18:08:09,sms,viber,1e9c5562-0cfc-11ea-abe1-c412f533dba1,7264cf21-a31d-11e9-abb0-c412f533dba1,1e9c5562-0cfc-11ea-abe1-c412f533dba1,manager #8,club #2,1.0,NaN,NaN,1.0,NaN,NaN
1,0078b05d-0f1f-11eb-ac1a-c412f533dba1,2020-10-15 23:45:40,cpc,instagram,d12fe765-b444-11e9-abb3-c412f533dba1,606c5b29-0f88-11eb-ac1a-c412f533dba1,d12fe765-b444-11e9-abb3-c412f533dba1,manager #1,club #1,1.0,NaN,1.0,NaN,NaN,NaN
2,007d1401-2af3-11eb-ac1f-c412f533dba1,2020-11-20 09:41:14,cpc,instagram,43756fa4-57a0-11e9-ab9a-c412f533dba1,1f389c6a-d5ab-11e9-abbe-c412f533dba1,43756fa4-57a0-11e9-ab9a-c412f533dba1,manager #11,club #4,1.0,NaN,1.0,NaN,NaN,NaN
3,0084e614-2fcc-11eb-ac1f-c412f533dba1,2020-11-26 13:44:40,,,00000000-0000-0000-0000-000000000000,00000000-0000-0000-0000-000000000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,009b1616-145d-11eb-ac1d-c412f533dba1,2020-10-22 15:52:04,cpc,vk,5dd88f32-6501-11ea-abf3-c412f533dba1,ac2c0012-6fd5-11e7-80fc-c412f533dba1,5dd88f32-6501-11ea-abf3-c412f533dba1,manager #10,club #2,1.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3332,ffaa0815-16c4-11eb-ac1d-c412f533dba1,2020-10-25 17:21:33,,,5dd88f32-6501-11ea-abf3-c412f533dba1,ffaa0816-16c4-11eb-ac1d-c412f533dba1,5dd88f32-6501-11ea-abf3-c412f533dba1,manager #10,club #2,1.0,NaN,1.0,NaN,NaN,NaN
3333,ffacb5af-194f-11eb-ac1d-c412f533dba1,2020-10-28 23:01:35,cpc,vk,ad52c7a8-a752-11e7-8115-c412f533dba1,377ea5e0-d089-11e9-abbd-c412f533dba1,ad52c7a8-a752-11e7-8115-c412f533dba1,manager #7,club #1,1.0,NaN,1.0,NaN,NaN,NaN
3334,ffbd53f1-3150-11eb-ac1f-c412f533dba1,2020-11-28 12:09:13,cpc,google,5dd88f32-6501-11ea-abf3-c412f533dba1,6dd39f15-d5a3-11e9-abbe-c412f533dba1,5dd88f32-6501-11ea-abf3-c412f533dba1,manager #10,club #2,1.0,NaN,1.0,NaN,NaN,NaN
3335,ffc0b363-2ae9-11eb-ac1f-c412f533dba1,2020-11-20 08:36:48,cpc,instagram,ad52c7a8-a752-11e7-8115-c412f533dba1,00000000-0000-0000-0000-000000000000,ad52c7a8-a752-11e7-8115-c412f533dba1,manager #7,club #1,1.0,1.0,NaN,NaN,NaN,NaN
3336,ffcdebc8-15c2-11eb-ac1d-c412f533dba1,2020-10-24 10:34:43,utm_medium,utm_source,ad52c7a8-a752-11e7-8115-c412f533dba1,f3357d13-15c7-11eb-ac1d-c412f533dba1,ad52c7a8-a752-11e7-8115-c412f533dba1,manager #7,club #1,1.0,NaN,NaN,NaN,NaN,NaN

In [26]:
# удаляем ненужные столбцы и дубликаты
merge_leads = merge_leads \
    .drop(columns= ['lead_id','d_utm_medium','l_manager_id', 'l_client_id', 'manager_id']) \
    .drop_duplicates(keep = 'first')

In [27]:
# заменяем пустые значения
merge_leads.fillna(0,inplace = True)

In [28]:
merge_leads

,created_at,d_utm_source,d_manager,d_club,leads_count,trash_leads_count,new_leads_count,clients_count,new_clients_count,new_clients_income
0,2020-10-16 18:08:09,viber,manager #8,club #2,1.0,0.0,0.0,1.0,0.0,0.0
1,2020-10-15 23:45:40,instagram,manager #1,club #1,1.0,0.0,1.0,0.0,0.0,0.0
2,2020-11-20 09:41:14,instagram,manager #11,club #4,1.0,0.0,1.0,0.0,0.0,0.0
3,2020-11-26 13:44:40,,0,0,0.0,0.0,0.0,0.0,0.0,0.0
4,2020-10-22 15:52:04,vk,manager #10,club #2,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
3332,2020-10-25 17:21:33,,manager #10,club #2,1.0,0.0,1.0,0.0,0.0,0.0
3333,2020-10-28 23:01:35,vk,manager #7,club #1,1.0,0.0,1.0,0.0,0.0,0.0
3334,2020-11-28 12:09:13,google,manager #10,club #2,1.0,0.0,1.0,0.0,0.0,0.0
3335,2020-11-20 08:36:48,instagram,manager #7,club #1,1.0,1.0,0.0,0.0,0.0,0.0
3336,2020-10-24 10:34:43,utm_source,manager #7,club #1,1.0,0.0,0.0,0.0,0.0,0.0

In [29]:
# лист моего google sheet файла, на который будут пересены данные
sheet_to_paste = gs.open_by_key('17I4s-xGgvVhyyDLrK9d9aJOKHrMRtx6wRhVWnoL7Pu8').worksheet('Result Table')

# записываем в файл google sheet
set_with_dataframe(sheet_to_paste,merge_leads)

In [30]:
# Также можно было воспользоваться вторым вариантом

# # ссылка на мой файл google sheet
# my_spreadsheet_id = '17I4s-xGgvVhyyDLrK9d9aJOKHrMRtx6wRhVWnoL7Pu8'

# # записываем в файл google sheet
# cell = 'Result Table!A1'
# array = {'values' : [merge_leads.columns.values.tolist()] + merge_leads.values.tolist()}

# service.spreadsheets().values().update(spreadsheetId=my_spreadsheet_id,
#                           range=cell,
#                           valueInputOption='RAW',
#                           body= array).execute()